apiVersion: v1
kind: ConfigMap
metadata:
  name: sonarsync-config
data:
  config.yml: |
    ---
    ldap:
      url: directory.example.com
      port: 636
      ssl: true
      binddn: CN=<technical user>,OU=<service user group>,DC=example,DC=com
      bindpassword: <password>
      searchbase: dc=example,dc=com
      objectclass: objectclass=group
      filter_include:
        - cn=admin*
        - cn=group1
        - cn=group2
        - cn=project-group*
    sonar:
      url: https://sonarqube.example.com
      token: <token generated in Sonarqube>
      # groups we don't want to delete 
      keep_local_groups:
        - sonar-users
        - sonar-administrators

  logging.yml: |
    ---
    version: 1
    formatters:
      simple:
        format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
    handlers:
      console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simple
        stream: ext://sys.stdout
    loggers:
      sampleLogger:
        level: DEBUG
        handlers: [console]
        propagate: no
    root:
      level: DEBUG
      handlers: [console]
